<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net462" />
  <package id="Brotli.NET" version="2.0.4.2" targetFramework="net452" />
  <package id="Colorful.Console" version="1.2.11" targetFramework="net462" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net452" />
  <package id="Dapper" version="1.60.6" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net462" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net452" />
  <package id="Google.Api.CommonProtos" version="1.7.0" targetFramework="net452" />
  <package id="Google.Api.Gax" version="3.0.0" targetFramework="net462" />
  <package id="Google.Api.Gax.Grpc" version="2.10.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.49.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.49.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.49.0" targetFramework="net452" />
  <package id="Google.Apis.Vision.v1" version="1.49.0.2039" targetFramework="net452" />
  <package id="Google.Cloud.Vision.V1" version="1.7.0" targetFramework="net452" />
  <package id="Google.LongRunning" version="1.1.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net452" />
  <package id="Grpc.Auth" version="1.22.0" targetFramework="net452" />
  <package id="Grpc.Core" version="1.22.1" targetFramework="net452" />
  <package id="Grpc.Core.Api" version="1.22.1" targetFramework="net452" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net452" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net452" />
  <package id="Magick.NET.Core" version="5.0.0" targetFramework="net462" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.22.0" targetFramework="net462" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.Azure.ActiveDirectory.GraphClient" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.2.2" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.2.2" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.6" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.6" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.6" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Graph" version="1.14.0" targetFramework="net462" />
  <package id="Microsoft.Graph.Core" version="1.14.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.6" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.6" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.20518.12000" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="OpenXmlPowerTools" version="4.5.3.2" targetFramework="net452" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net452" />
  <package id="SharePointPnP.IdentityModel.Extensions" version="1.2.4" targetFramework="net462" />
  <package id="SharePointPnPCoreOnline" version="3.26.2010" targetFramework="net462" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net462" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net452" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net452" />
  <package id="System.Data.HashFunction.xxHash" version="2.0.0" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.4" targetFramework="net462" />
  <package id="System.Interactive.Async" version="4.1.1" targetFramework="net462" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net462" />
  <package id="System.Linq.Async" version="4.1.1" targetFramework="net462" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="1.8.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net462" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net452" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net462" />
</packages>